body {
  font-family: 'Arial', sans-serif;
  background-image: linear-gradient(to bottom, #ffdfb3, #ffdfb3);
  color: #333;
  text-align: center;
}
h2 { /* Załóżmy, że 'Change Password' jest w tagu <h1> */
  margin-top: 100px; /* Zwiększ wartość, aby przesunąć napis niżej */
}

form {

  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
}

form ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 20px; /* Increase spacing between the instructions */
}

form li {
  margin-bottom: 10px; /* Increase spacing between the items */
}

button {
  background-color: #000; /* Change button color to black */
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #333; /* Slightly lighter shade for hover, can set to #000 if no hover effect is desired */
}

/* Additional styles can be added here as needed */
