<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <script src = "myapp/static/js/findRecipe.js" ></script>
   </head>
   <body>
       
       <h2>Enter your ingredients</h2>
       <textarea id="ingredients" name="ingredients" rows="4" cols="50" placeholder="Enter your ingredients"></textarea>
       <h3>Suggested recipes:</h3>
       <div id="result"></div>
       <div><button type="button" onclick="findRecipe()">Find your recipe</button></div>
       <div><button type="button" onclick="goBack()">Go back</button></div>
   
   </body>
   </html>