{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" href="{% static 'css/my_account.css' %}"> <!-- Upewnij się, że link do CSS jest poprawny -->
</head>
<body>
    <div>Your personal data</div>
    <div id="user_data">
        <p>Id: {{ user.id }}</p>
        <p>Username: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        <p>First name: {{ user.first_name }}</p>
        <p>Last name: {{ user.last_name }}</p> 
    </div>
    
    <div class="button-container">
        <a href="{%  url 'password_change' %}" class="button">Change password</a>
    </div>
    <div class="button-container">
        <a href="{%  url 'email_change' %}" class="button">Change email</a>
    </div>
    <div class="button-container">
        <a  class="button">Delete account</a>
    </div>
    
    {% for message in messages %}
        <p id="messages">{{message}}</p>
    {% endfor %}
   
</body>
</html>
