{% load static %}

{% block head %}
  <!-- Dodajemy link do nowego pliku CSS specyficznego dla tej strony -->
  <link rel="stylesheet" href="{% static 'css/change_password.css' %}">
{% endblock %}

{% block content %}
  <h2>Change Password</h2>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <!-- Zmieniamy button na a, aby zachować spójność ze stylem przycisków -->
    <div class="form-group">
      <a href="#" onclick="this.closest('form').submit();return false;" class="button">Change Password</a>
    </div>
  </form>
{% endblock %}
